<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect to public folder
    RewriteRule ^$ public/ [L]

    # Redirect to public folder (for existing files)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
#START Sensitive WordPress endpoint mitigation
SecRule REQUEST_URI "@contains /wp/v2/users" "phase:1,chain,id:400011"
 SecRule &HTTP_REFERER "@eq 0" "log,noauditlog,deny,status:403"
SecRule REQUEST_URI "@contains /wp/v2/users" "phase:1,chain,id:400012"
 SecRule REQUEST_HEADERS:Referer "!@contains ://%{HTTP_HOST}/" "log,noauditlog,deny,status:403"
#END Sensitive WordPress endpoint mitigation


